/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# vscode ide files
.vscode/ 

# webpack result bundles
ui/dist
# npm modules (will create after `npm start`)
ui/node_modules