<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="tenor-gif-embed" data-postid="23525460" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/never-gonna-give-you-up-gif-23525460">Never Gonna Sticker</a>from <a href="https://tenor.com/search/never-stickers">Never Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div id="root"></div>
</body>
</html>

